/* sign-in-page.css */
.signin-container {
    width: 90%;
    /* background: 'var(--tg-theme-secondary-bg-color, white)' */
   
  }
  
  .signin-title {
    text-align: center;
    margin-bottom: 120px;
    font-weight: 600;
  }
  
  .signin-form {
    margin-top: 1.5rem;
  }
  
  .forgot-password {
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    color: var(--tg-theme-link-color);
   
  }
  
 